body {
		  background-color: #1B1C2F;


		}
		.contenido{
			padding: 10px;
		}
		.login{
			border: 1px solid #FF2000;

			width: 400px;
			color:white;
			font-weight: bolder;
			top: 50%;
			left: 50%;
			position: absolute;
			margin-top: -200px;
			margin-left: -200px;
		}
		.login-title{
			padding: 25px;
			text-align: center;
			background-color: #102547;
		}
		form{
			padding: 20px 30px;
			background: #B5B5B5;
		}